package render

templ operationRequestSection(data operationRequestSectionData) {
	<section class="grid gap-8" aria-label="Request">
		<h4 class="font-title text-2xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong">Request</h4>
		@OperationAuthorization(data.Authorization)
		@OperationParameters(data.Parameters)
		if data.Body != nil {
			@OperationRequestBody(*data.Body)
		}
	</section>
}
