package render

import (
	templpkg "github.com/a-h/templ"
)

templ schemaDetail(data schemaDetailData, actions, provenance templpkg.Component) {
	<article id={ data.Anchor } data-catalog-detail="schema" class="space-y-6">
		@SchemaDetailHeader(data.Header, actions, provenance)
		@SchemaDetailBody(data.Body)
	</article>
}
